<div class="container card">
    <h1>Detalles del usuario {{usuario.first_name}}</h1>
   
    <form class="form-group">
        <label >Id Usuario :</label>
        <input type="number" class="form-control" readonly  value="{{usuario.id}}">

        <label >Nombre :</label>
        <input type="text" class="form-control"  readonly  value="{{usuario.first_name}}">

        <label >Apellidos :</label>
        <input type="text" class="form-control"  readonly value="{{usuario.last_name}}">
        
        <label >Email :</label>
        <input type="text" class="form-control"  readonly  value="{{usuario.email}}">

    </form>
    <a [routerLink]="['/actualizar/', usuario.id]" class="btn btn-info mb-2">Actualizar</a>
    <a [routerLink]="['/borrar/', usuario.id]" class="btn btn-danger mb-2">Borrar</a>
   

</div>